.body{
    background-color: #f8f9fa;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h5{
    text-align: center;
}

.card{
    padding-top: 30px;
    padding-bottom: 35px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#res{
    color: rgb(85, 82, 82);
}

.name{
    color: white;
}

#title{
    color: #0177fe;
    font-size: 21px;
}

.calculatebtn{
    background-color: #0177fe;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 25%;
}